<!doctype html>
<html lang="en" >
    <body>
        <p style="text-align: center; font-size: 1.2em;">
            Welcome to Medicannsales.
            Please click the button below to confirm your email address and activate your account.</p>
        <div style="display: flex; justify-content: center">
	    <button style="background-color: #699551; color: #fff; padding: 12px 6px; border-radius: 6px; border: none; width: 120px"><a style="color: #fff; text-decoration:none; font-weight: bold; font-size: 1.2em" href="{{domain}}/account-setup/{{token}}">Confirm Now</a></button>
	</div>
    </body>
</html>